%nav
  %ul
    %li= link_to 'Post a job', new_user_job_path(current_user || '_')
    %li= link_to 'Find a job', new_user_advertisement_path(current_user || '_')
    - if user_signed_in?
      %li
        = link_to('Sign up', destroy_user_session_path, :method=>'delete')
    - else
      %li
        = link_to('Sign in', new_user_session_path)
    - if user_signed_in?
      %li
        = link_to('Edit account', edit_user_registration_path)
    - else
      %li
        = link_to('Sign up', new_user_registration_path)
