- html_tag class: 'no-js' do
  %head
    %title Jobszy
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body{:class => params[:controller]}
    #sticky_footer_top_wrapper
      #outer_header
        .outer_grid
          %header
            #logo
              %h1= link_to "Jobszy", root_path
            = render 'shared/header_nav'
      - unless flash.blank?
        - flash.each do |name, msg|
          %div{ id: "flash_#{name}" }
            .outer_grid
              = content_tag :div, msg if msg.is_a?(String)
      #outer_content
        .outer_grid
          %content= yield
      #push_sticky_footer
    #outer_footer.sticky_footer_bottom_wrapper
      .outer_grid
        %footer
          © #{Time.now.year} Jobszy

